@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-color: #fff;
    --primary-color: #BCD6FF;
    --txt-color: #202020;
    --border-color: #202020;
    --second-color: #A1C6FF;
    --select-color: #65a3ff;
}

[data-theme = "dark"] {
    --bg-color: #202020;
    --primary-color: #FCE157;
    --txt-color: #fefefe;
    --border-color: #fefefe;
    --second-color: #FFF5C2;
    --select-color: #FCE157;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    padding: 16px;
    cursor: url('assets/icon/cursor.png'), auto;
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
}

button, a {
    cursor: url('assets/icon/pointer.png'), pointer
}

img.imgs {
    pointer-events: none;
}

body {
    margin: 0 auto;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(32, 32, 32, 0.25);
    font-family: 'Poppins', sans-serif;
    color: var(--txt-color);
    max-width: 1280px;

    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
}

div.header {
    height: 80px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
}

h1.header_title {
    font-size: 20px;
    font-weight: 600;
}

div.header_with_btn {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

button.btn_header {
    background-color: var(--primary-color);
    border: none;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

button#btn_translate {
    width: 96px;
    gap: 8px;
}

p.language {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
}

nav.header_nav {
    height: 56px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color);
}

ul.nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

li.nav_type {
    font-size: 16px;
    font-weight: 400;
}

li.nav_type > a {
    color: var(--txt-color);
    text-decoration: none;
}

li.nav_type > a:hover {
    color: var(--select-color);
}

.btn_header:hover {
    background-color: var(--second-color);
    transition: all 0.2s ease;
}

section.sect_primary {
    border-bottom: 2px solid var(--border-color);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.div_primary_title {
    width: 50%;
}

h2.title_primary {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

h2.title_primary_bold {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
}

div.txt-animation span {
    position: relative;
}

div.txt-animation span::before {
    content: "";
    color: var(--txt-color);
    animation: palavras 12s infinite;
}

div.txt-animation span::after {
    content: "";
    position: absolute;
    height: 96%;
    border-left: 2px solid var(--primary-color);
    right: -10px;
    animation: cursor .5s infinite, digita 20s steps(20) infinite;
    width: calc(100% + 10px);
    background-color: var(--bg-color);
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 10px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid var(--border-color);
    }
}

@keyframes palavras {
    0%, 33% {
        content: "developer web";
    }
    34%, 66% {
        content: "designer UX/UI";
    }
    67%, 100% {
        content: "developer app";
    }
}

div.div_primary_image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

div.rect_blue {
    width: 132px;
    height: 280px;
    background-color: var(--primary-color);
    border-radius: 16px;
}

section.sect_about {
    border-bottom: 2px solid var(--border-color);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

article.art_about_me {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 50%;
}

h3.title_about {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
}

p.p_about {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

article.art_social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    width: 50%;
}

div.div_social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-color);
    padding: 16px;
    border-radius: 16px;
    width: 30%;
    height: 262px;
}

a.a_social {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.sect_tec {
    border-bottom: 2px solid var(--border-color);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

h3.title_tec {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
}

ul.skill_list {
    display: flex;
}

li.skills_type {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

div.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

section.sect_project {
    border-bottom: 2px solid var(--border-color);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

h3.title_project {
    font-size: 28px;
    font-weight: 600;
    line-height: normal;
}

article.art_project {
    display: flex;
    gap: 20px;
}

div.rect_project {
    width: 100%;
    height: 280px;
    background-color: var(--primary-color);
    border-radius: 16px;
}

footer.footer {
    padding:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4.title_footer {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

button.btn_footer {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url('assets/icon/pointer.png'), pointer;

    padding: 10px 20px;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}