html {
    cursor: url('../../assets/icon/cursor.png'), auto;
}

button, a {
    cursor: url('../../assets/icon/pointer.png'), pointer
}

img.imgs {
    pointer-events: none;
}

body {
    margin: 0 auto;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(32, 32, 32, 0.25);
    font-family: 'Poppins', sans-serif;
    color: var(--txt-color);
    max-width: 1280px;

    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

a:any-link {
    color: var(--txt-color);
}