#presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-lg);
    padding: var(--spacing-5xl) var(--spacing-lg);
    border-bottom: var(--border-size) solid var(--border-color);
}

.div-assets-presentation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-md);
}

.rect-blue {
    width: 132px;
    height: 280px;
    background-color: var(--background-secundary);
    border-radius: var(--radius-md);
}