section.sect_primary {
    border-bottom: 2px solid var(--border-color);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.div_primary_title {
    width: 50%;
}

h2.title_primary {
    font-size: var(--txt-semibold);
    font-weight: 400;
    line-height: 32px;
}

h2.title_primary_bold {
    font-size: var(--txt-black);
    font-weight: 700;
    line-height: 58px;
}

div.txt-animation span {
    position: relative;
}

div.txt-animation span::before {
    content: "";
    color: var(--txt-color);
    animation: palavras 12s infinite;
}

div.txt-animation span::after {
    content: "";
    position: absolute;
    height: 96%;
    border-left: 2px solid var(--primary-color);
    top: 4px;
    right: -10px;
    animation: cursor .5s infinite, digita 20s steps(20) infinite;
    width: calc(100% + 10px);
    background-color: var(--bg-color);
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 10px);
    }
}

@keyframes cursor {
    0% {
        border-left: 2px solid var(--border-color);
    }
}

@keyframes palavras {
    0%, 33% {
        content: "Developer web";
    }
    34%, 66% {
        content: "Designer UX/UI";
    }
    67%, 100% {
        content: "Developer app";
    }
}

div.div_primary_image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

div.rect_blue {
    width: 132px;
    height: 280px;
    background-color: var(--primary-color);
    border-radius: 16px;
}