section.sect_habilidades {
    border-bottom: 2px solid var(--border-color);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

div.skill_title {
    display: flex;
    align-items: center;
    gap: 8px;
}

h3.title_habilidades {
    font-size: var(--txt-bold);
    font-weight: 600;
    line-height: normal;
}

div.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

div.div_skill {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}