button.btn_header {
    background-color: var(--primary-color);
    border: none;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 96px;
}

button.btn_nav {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#btn_aA {
    pointer-events: none;
}

button.btn_footer {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 20px;

    font-family: 'Poppins', sans-serif;
    font-size: var(--txt-small);
    font-weight: 500;
    line-height: normal;
}

.btn_header:hover, .btn_nav:hover, .btn_footer:hover {
    background-color: var(--second-color);
    transition: all 0.2s ease;
}