footer.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h4.title_footer {
    font-size: var(--txt-regular);
    font-weight: 600;
    line-height: normal;
}

@media (max-width: 600px) {
    footer {
        gap: 16px;
        flex-direction: column;
        text-align: center;
    }
}