@media (max-width: 1024px) {
    .img-project {
        max-width: 480px;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .container-projetos {
        flex-direction: column;
    }
    .info-projeto {
        width: 100%;
    }
}