
@media (max-width: 1080px) {
    div.skills {
        flex-basis: 170px;
    }
}

@media (max-width: 940px) {
    div.skills {
        flex-basis: 224px;
    }
}

@media (max-width: 800px) {
    div.skills {
        flex-basis: 170px;
    }
}

@media (max-width: 600px) {
    section.sect_habilidades {
        padding: 24px 20px;
    }
    div.skills {
        flex-basis: 136px;
    }
}

@media (max-width: 480px) {
    div.skills {
        flex-basis: 96px;
    }
    img.img_habilidades {
        width: 64px;
    }
}

@media (max-width: 380px) {
    div.div_skill {
        justify-content: space-around;
    }
    div.skills {
        flex-basis: 72px;
    }
    div.skills > p.p_about {
        font-size: var(--txt-small);
    }
}